.bg-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../Images/backImg.jpg');
    background-size: cover;
    height: 100vh;
    background-position: center;
    display: flex;
    flex-direction: column
}

.about{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #e3e3e3;
    position: absolute;
    margin: 5%;
    text-align: left;
    width: 40%;

}
